{#
% Description:
%   `customize_hostname_check` for enabling support in erlang for wildcard certs specified
%    both in `server` and `client` sections,
%    even though it's not required in this case
%
% Observed behaviour:
%   - RabbitMQ 3.12 & Erlang 25: [PASS]
%      * `rabbitmq_server_wildcard` cert loaded and served on internode communication port 25672
%      * `rabbitmqctl status` works as expected
%
%   - RabbitMQ 3.12 & Erlang 26: [FAILS]
%      * `rabbitmq_server_wildcard` not loaded and not served on internode communication port 25672
%      * `rabbitmqctl status` fails
%
%   - RabbitMQ 3.13 & Erlang 26: [FAILS]
%      * `rabbitmq_server_wildcard` not loaded and not served on internode communication port 25672
%      * `rabbitmqctl status` fails
%
% Problems:
%   - Same configuration not compatible with newer Erlang version
%   - 'Silently' fails to load `rabbitmq_server_wildcard` cert
%      - Allows unexpected unsecure internode communication
%      - Hard to detect unexpected behaviour
#}
[
  {server, [
    {cacertfile, "/etc/rabbitmq/tls/rabbitmq_server.ca"},
    {certfile,   "/etc/rabbitmq/tls/rabbitmq_server.crt"},
    {keyfile,    "/etc/rabbitmq/tls/rabbitmq_server.key"},
    {secure_renegotiate, true},
    {verify, verify_peer},
    {fail_if_no_peer_cert, true},
    {customize_hostname_check, [
      {match_fun, public_key:pkix_verify_hostname_match_fun(https)}
    ]}
  ]},
  {client, [
    {cacertfile, "/etc/rabbitmq/tls/rabbitmq_client.ca"},
    {certfile,   "/etc/rabbitmq/tls/rabbitmq_client.crt"},
    {keyfile,    "/etc/rabbitmq/tls/rabbitmq_client.key"},
    {secure_renegotiate, true},
    {verify, verify_peer},
    {customize_hostname_check, [
      {match_fun, public_key:pkix_verify_hostname_match_fun(https)}
    ]}
  ]}
].
