{#
% Description:
%   `customize_hostname_check` required for enabling support in erlang for wildcard certs
%    specified only in client section
%
% Observed behaviour:
%   - RabbitMQ 3.12 & Erlang 25: [PASS]
%      * `rabbitmq_server_wildcard` cert loaded and served on internode communication port 25672
%      * `rabbitmqctl status` works as expected
%
%   - RabbitMQ 3.12 & Erlang 26: [PASS]
%      * `rabbitmq_server_wildcard` cert loaded and served on internode communication port 25672
%      * `rabbitmqctl status` works as expected
%
%   - RabbitMQ 3.13 & Erlang 26: [PASS]
%      * `rabbitmq_server_wildcard` cert loaded and served on internode communication port 25672
%      * `rabbitmqctl status` works as expected
%
#}
[
  {server, [
    {cacertfile, "/etc/rabbitmq/tls/rabbitmq_server_wildcard.ca"},
    {certfile,   "/etc/rabbitmq/tls/rabbitmq_server_wildcard.crt"},
    {keyfile,    "/etc/rabbitmq/tls/rabbitmq_server_wildcard.key"},
    {secure_renegotiate, true},
    {verify, verify_peer},
    {fail_if_no_peer_cert, true}
  ]},
  {client, [
    {cacertfile, "/etc/rabbitmq/tls/rabbitmq_client_wildcard.ca"},
    {certfile,   "/etc/rabbitmq/tls/rabbitmq_client_wildcard.crt"},
    {keyfile,    "/etc/rabbitmq/tls/rabbitmq_client_wildcard.key"},
    {secure_renegotiate, true},
    {verify, verify_peer},
    {customize_hostname_check, [
      {match_fun, public_key:pkix_verify_hostname_match_fun(https)}
    ]}
  ]}
].
